<div class="form-group">
    <%= label f, :body %>
    <%= textarea f, :body, class: "form-control" %>
    <%= error_tag f, :body %>
  </div>

  <div>
    <%= submit "Save", class: "btn btn-primary" %>
</div>